/* #map {
    height: 100%;
    margin: 0;
    padding: 0;
  } */

  div[role='dialog'], .gm-style .gm-style-iw-tc::after{
    background-color: #0d8762 !important;
  }
  .gm-style-iw-d{
    overflow: hidden !important;
    padding: 0px 20px 10px 0px;
    color: white;
    font-size: 15px;
    line-height : 20px;
  }
  .gm-style-iw { 
    outline:none;
  }
  
  button[title='Close'] {
    outline:0px !important;

  }

/* 
  button.gm-ui-hover-effect {
    border: 100px !important;
    background-color: red !important;
    
  }
  button.gm-ui-hover-effect :focus{
    border: 100px !important;
    background-color: green !important;
    outline:0px;
  }
  button.gm-ui-hover-effect :hover{
    border: 100px !important;
    background-color: blue !important;
    outline:0px;
  } */

/* 
  .gm-style-iw-d{
    background-color: #0d8762;
    color: #000000;
    font-size: 15px;
    padding:10px 15px;
  }
  .gm-style .gm-style-iw-c .gm-style-iw-tc{
    padding: 0px;
    border-width: 0px;
  } */